@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700;800&family=Itim&family=Raleway:wght@100;200;300;400;500;600;700&family=Shantell+Sans:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
}

body {
    background-image: url("image/bgp.png");
    background-color: rgb(28, 7, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(220, 66, 100, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    width: 25rem;
    height: max-content;
    padding: 1rem;
}

.container .display input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 0.5rem;
    font-size: 1.8rem;
    outline: none;
    caret-color: #F17C91;
    text-align: right;
    color: #E2496D;

}

.line {
    width: 100%;
    background-color: #F17C91;
    height: 0.7px;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}

.container-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-buttons div {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}

/* .container-buttons div .button {
    width: 100%;
    padding: 1rem;
    color: #F17C91;
    font-size: 1rem;
    border: 1px solid #F17C91;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
} */












/*bg*/
/*txt*/
/*success*/
.container-buttons div .button {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;

    /* width: 100%; */
    /* padding: 1rem; */
}

.container-buttons div .button button {
    width: 95px;
    height: 50px;
    background-color: transparent;
    /* margin: 20px; */
    color: #E2496D;
    position: relative;
    overflow: hidden;
    font-size: 0.7rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.button button:before,
.button button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #F17C91;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.button button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.button button:after {
    left: 0;
    bottom: 0;
}

.button button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.button button span:before,
.button button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #F17C91;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.button button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.button button span:after {
    left: 0;
    bottom: 0;
}

.button button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.button button p:before,
.button button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.button button p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}

.button button p:after {
    content: attr(data-text);
    top: 150%;
    color: #F17C91;
}

.button button:hover:before,
.button button:hover:after {
    width: 100%;
}

.button button:hover span {
    z-index: 1;
}

.button button:hover span:before,
.button button:hover span:after {
    height: 100%;
}

.button button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.button button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.button button.start {
    background-color: #F17C91;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.button button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.button button.start p:after {
    color: transparent;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.button button.start:hover:before,
.button button.start:hover:after {
    display: none;
}

.button button.start:hover span {
    display: none;
}

.button button:active {
    outline: none;
    border: none;
}

.button button:focus {
    outline: 0;
}